html, body {
  height: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
} 

.main {
 flex: 1;
}
.container {
  max-width: 1220px;
  padding: 0 10px;
  margin: 0 auto;
}

.breadcrumbs {
	margin: 30px 0 50px;
  &__list {
		display: flex;
		gap: 16px;
	}
  &__item {
		font-size: 16px;
		position: relative;
	}
	&__item + .breadcrumbs__item::after {
		position: absolute;
		content: '/';
		top: 0;
		left: -10px;
	}
  &__link {
		display: inline-block;
	}
}