$bg-color:#E9E1D7;
$accent-color:#3B2317;
$text-color :#94897C;
$brown-color:#513C27;
$white:#fff;

%inter-regular{
 font-family: 'Inter-Regular', sans-serif; 
 font-weight: 400;
}
%lora-medium{
 font-family: 'Lora-Medium', serif; 
 font-weight: 500;
}
%lora-regular{
 font-family: 'Lora-Regular', serif; 
 font-weight: 400;
}
%opensans-bold{
 font-family: 'Opensans-Bold', sans-serif; 
 font-weight: 700;
}
%opensans-light{
 font-family: 'Opensans-Light', sans-serif; 
 font-weight: 300;
}
%opensans-regular{
 font-family: 'Opensans-Regular', sans-serif; 
 font-weight: 400;
}