@use 'vars';
@use 'reset';
@use 'fonts';
@use '../../node_modules/swiper/swiper-bundle.css';
@use '../../node_modules/nouislider/dist/nouislider.css';
@use 'base';

body {
 	@extend %opensans-regular;
 	font-family: 'Opensans-Regular', sans-serif; 
	font-size: 20px;
  line-height: 1.3;
	color: vars.$text-color;	
}
.section-title {
  @extend %lora-regular;
	color: vars.$accent-color;
  font-size: 45px;   
}

.primary-link {
	@extend %opensans-regular;
	font-size: 16px;
	color: vars.$text-color;
	border: 1px solid vars.$text-color;
	padding: 10px 25px;		
	display: inline-block;
	align-self: start;
	text-align: center;
	max-width: 271px;
	width: 100%;
}

.header {		
	&__inner {
      display: flex;
      justify-content: space-between;
			align-items: center;
      padding: 20px 0 30px;
      flex-wrap: wrap;
	}
  &__logo {
      width: 100%;
      text-align: center;
      margin-bottom: 15px;
  }
  &__logo-link {
      display: inline-block;
  }	
	&__language-list {
      display: flex;
      @extend %opensans-regular;
      color: vars.$brown-color;
	}	
	&__language-item {
			text-transform: uppercase;
			@extend %opensans-regular;
			font-size: 16px;
	}			
	&__language-link {
			span{
				@extend %opensans-bold;
				font-size: 16px;
			}
	}
	&__nav-list	{
			display: flex;
			gap: 30px;
			padding: 0 10px;
	}	
	&__nav-item {
			text-transform: uppercase;
			color: vars.$brown-color;
			font-size: 16px;
	}	
	&__actions-list {
			display: flex;
			gap: 20px;
			align-items: center;
	}		
}

.footer {	
  &__top {
		padding: 55px 0px 45px;
		border-bottom: 1px solid vars.$bg-color;
		margin-bottom: 50px;
	}  
  &__nav-list {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		align-items: center;
	}
  &__nav-item {		
		@extend %opensans-regular;
		color: vars.$text-color;
		font-size: 16px;	
	}
	&__nav-item + &__nav-item {
		padding-left: 10px;
	}
  &__nav-link {
		border-bottom: solid 1px rgba(148, 137, 124, .35);
	}	
  &__logo {
		display: inline-block;
		margin-left: -20px;
		margin-right: -20px;
	}
  &__bottom {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		margin-bottom: 50px;				
	}	  
  &__bottom-title {
		@extend %opensans-regular;
			font-size: 16px;
			color: vars.$text-color;
			opacity: 0.5;
			margin-bottom: 20px;
	}   
  &__bottom-item {
		margin-bottom: 5px;
		font-size: 16px;
		color: vars.$text-color;
	} 	
	&__bottom-link {
		display: inline-block;
	}
  &__bottom-address {
		font-size: 16px;
		color: vars.$text-color;
		font-style: normal;
	}  
	&__bottom-box {
		display: flex;
		align-items: center;
		gap: 10px;
	}
  &__bottom-subscription {
		max-width: 253px;
	}
  &__bottom-form {
		width: 100%;
		display: flex;
    align-items: center;
    justify-content: space-between;		
		position: relative;
	}
  &__bottom-input {
		display: block;
		width: 100%;
		border: none;	
		padding: 1px 25px 5px 0px;	
		border-bottom: solid 1px vars.$bg-color;
		color: vars.$text-color;	
		&::placeholder{
			font-size: 16px;
			color: vars.$text-color;
		}
	} 
	&__bottom-btn {
		position: absolute;
		top: 10px;
		right: 0;
		cursor: pointer;
	}
	
  &__policy {
		background-color: vars.$bg-color; 
	}
  &__policy-box {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: space-between;
		padding: 8px 26px;
	}
  &__policy-text {
		font-size: 11px;
		color: vars.$brown-color;
		padding-right: 20px;
	}
  &__policy-list {
		display: flex;
		align-items: center;
		gap: 37px;
	}	  
  &__policy-item + .footer__policy-item {
		position: relative;
		&::before {
			position: absolute;
			content: '|';
			left: -21px;
			top: -8px;
			color: vars.$brown-color;
		}
	}
  &__policy-link {
		font-size: 11px;
		color: vars.$brown-color;
		display: block;
	}
}

.promo {
	background-color: vars.$bg-color;
	text-align: center;
	padding: 7px 10px 9px;
	&__link {
	text-transform: uppercase;
	@extend %opensans-regular;
	font-size: 11px;
	color: vars.$brown-color;
 }
}

.top {   		
		background-repeat: no-repeat;
		background-size: cover;
		min-height: 90vh;	
		padding: 115px 134px 50px 0;
		position: relative;
		z-index: 1;
  &__inner {
	display: flex;
	flex-direction: column;
	margin-left: auto;
	max-width: 446px;	
	}
  &__title {
		@extend %lora-regular;
		font-size: 80px;
		line-height: 1.2;
		color: vars.$accent-color;
		margin-bottom: 60px;
	}
  &__link {
		text-transform: uppercase;
		color: vars.$white;
		background-color: vars.$accent-color;
		padding: 13px 38px;
		border-radius: 3px;
		align-self: flex-start;
	}
}

.new-collection {
	padding-top: 150px;
	margin-bottom: 150px;
  &__inner {		
		display: flex;	
		position: relative;	
		&::after {
			position: absolute;
			content: '';
			background-image: url('../images/new-coll-decor.svg');
			background-repeat: no-repeat;
			background-size: cover;
			width: 412px;
    	height: 444px;
			left: -24px;
			top: -268px;
		}		
	}
	&__content {
		display: flex;
		flex-direction: column;
		max-width: 480px;
		width: 100%;
		padding: 75px 27px 0 40px;	
	}
	&__title {
		margin-bottom: 50px;
	}
  &__text {		
		font-size: 16px;
		margin-bottom: 30px;
		max-width: 403px;
	}   
  &__link {	
		margin-top: auto;
	}
  &__img {
		max-width: 347px;
		width: 100%;
		padding-top: 75px;
	}
	&__img.right-image {
		padding-top: 0;
		max-width: 404px;
	}
  &__image-box {
		display: flex;
		flex-direction: column;
		gap: 40px;
		position: absolute;
		max-width: 404px;
		width: 100%;
		top: 0;
		right: 45px;		
	}
  &__image-caption {
		max-width: 289px;
    align-self: end;
	}
}

.join-us {
	background-color: vars.$bg-color;
	margin-bottom: 150px;
	&__img {
		max-width: 540px;
	}
	&__inner {
		padding: 0 40px;
		display: flex;
		gap: 40px;
	}
  &__content {
	max-width: 540px;
	width: 100%;
	z-index: 1;
	}
  &__title {
		padding-top: 40px;
		margin-bottom: 20px;
	}
  &__text {
		@extend %lora-regular;
		font-size: 30px;
		color: vars.$brown-color;
		margin-bottom: 40px;		
	}
  &__form {
		margin-bottom: 20px;
	}
  &__input {
		max-width: 540px;
		width: 100%;
		display: inline-block;
		padding: 0 20px 10px 0;
		margin-bottom: 20px;
		background-color: transparent;
		border: none;
		color: vars.$text-color;
		border-bottom: 1px solid vars.$text-color;
		&::placeholder {
			@extend %opensans-regular;
  		font-size: 20px;  		
			color: vars.$text-color;
		}
	}
  &__btn {
		text-transform: uppercase;
		text-align: center;
		color: vars.$white;
		display: inline-block;
		width: 100%;
		background-color: vars.$brown-color;
	  @extend %opensans-regular;
		padding: 12px 65px;
		border-radius: 3px;
		margin-bottom: 20px;
	}
  &__subtext {
		font-size: 11px;
		color: vars.$brown-color;
	}
}

.designer {
	margin-bottom: 230px;
  &__inner {
		padding: 0 40px;
		display: flex;
		justify-content: space-between;
	}
  &__content {
		max-width: 404px;
		width: 100%;
	}
  &__title {
		margin-bottom: 50px;
	}
	&__text {
		font-size: 16px;
	}
  &__text + .designer__text {
		margin-top: 30px;
	}
  &__img-box {
		display: flex;
		flex-direction: column;
		position: relative;
		&::after {
			position: absolute;
			content: '';
			background-image: url('../images/designer-decor.svg');
			background-repeat: no-repeat;
			background-size: cover;
			width: 506px;
    height: 437px;
    left: -231px;
    top: -350px;
		}
	}
	&__img {
		max-width: 540px;
		display: inline-block;
	}
  &__quote {
		max-width: 296px;
		padding: 20px 18px;
		margin: 0;
		@extend %lora-regular;
		background-color: vars.$white;
		color: vars.$brown-color;
		border: 3px solid vars.$bg-color;
		position: absolute;
		top: 25%;
    left: -152px;
	}
  &__link {
		margin-top: auto;
		align-self: center;
	}
}

.our-advantages {
	background-color: vars.$bg-color;	
  &__inner {
		display: flex;
		gap: 70px;
		padding: 0 40px;
		margin-bottom: 150px;
		position: relative;
		&::after {
			position: absolute;
			content: '';
			background-image: url('../images/our-advantages-decor.svg');
			background-repeat: no-repeat;
			background-size: cover;
			width: 326px;
			height: 548px;
			bottom: 0px;
			right: 0px;
		}
	}
	&__img {
		margin-top: -83px;
	}  
  &__title {
		padding-top: 65px;
		margin-bottom: 50px;
	}
  &__list {
		column-count: 2;
		column-gap: 80px;		
	}
  &__item {
		color: vars.$brown-color;
		margin-bottom: 30px;
		padding-left: 50px;
		position: relative;
		&::after {
			position: absolute;
			content: '';
			width: 30px;
			height: 22px;
			top: 50%;
    	transform: translateY(-50%);
			left: 0;
			background-image: url('../images/advanteges-item-decor.svg');
			background-repeat: no-repeat;
			background-size: cover;			
		}
	}
}

.our-blog {
	margin-bottom: 100px;
  &__inner {
		display: grid;
		grid-template-columns: 1fr 279px 329px;
		row-gap: 25px;
		column-gap: 20px;
		position: relative;
		&::after{
			position: absolute;
			content: '';
			background-image: url('../images/our-blog-decor.svg');
			background-repeat: no-repeat;
			background-size: cover;
			width: 212px;
			height: 342px;
			bottom: -10px;
    	left: 60px;
		}
	}
  &__item:nth-child(3) {		
		grid-row: span 2;
		align-self: center;
	}
	&__item:nth-child(4) {
		grid-column: span 2;
		justify-self: end;
	}
  &__title {
		margin-bottom: 50px;
	}
  &__text {
		font-size: 16px;
		margin-bottom: 50px;
		max-width: 403px;
	}
    &__item-title {
		margin: 20px 0 5px;
		@extend %lora-regular;
	}
  &__item-data {
		font-size: 16px;
		color: vars.$brown-color;
	}
}

.appointment {
	margin-bottom: 128px;
  &__title {
		margin: 50px 0 77px;
		text-align: center;
	}
  &__inner {
		display: flex;
		padding: 0 40px;
		gap: 40px;
	}
  &__content {
		display: flex;
		flex-direction: column;
		position: relative;
		z-index: 1;
		&::after {
			position: absolute;
			content: '';
			background-image: url('../images/appointment-decor.svg');
			background-repeat: no-repeat;
			background-size: cover;
			width: 346px;
    	height: 323px;
    	left: 71%;
    	top: -56px;
    	z-index: -1;		
		}
	}
  &__content-title {
		@extend %lora-regular;
		font-size: 30px;
		margin-bottom: 80px;
		color: vars.$accent-color;
	}
  &__content-text {
		@extend %opensans-bold;
		margin-bottom: 30px;
	}
  &__content-form {
		max-width: 540px;
	}
  &__content-input {
		width: 100%;
		margin-bottom: 20px;
		border: none;
		border-bottom: 1.2px solid vars.$text-color;
		padding: 0 10px 10px 0;
		color: vars.$text-color;
		background-color: transparent;
		&::placeholder {
			color: vars.$text-color;
			@extend %opensans-regular;
			font-size: 20px;
		}
	}
  &__content-btn {
		margin-top: auto;
		background-color: vars.$brown-color;
		text-transform: uppercase;
		color: vars.$white;
		padding: 13px;
		border-radius: 3px;
	}
  &__img {
		position: relative;
		z-index: 1;
	}
}
.collections{	
	margin-top: 30px;
	&-top {
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		min-height: 100vh;		
	}
	&-content {
		margin-bottom: 50px;
		position: relative;
		&::after {
			position: absolute;
			content: '';
			background-image: url('../images/collections-decor.svg');
			background-repeat: no-repeat;
			background-size: cover;
			width: 356px;
    	height: 341px;
    	right: -15px;
    	top: -189px;
		}
	}
	&__title {
		text-align: center;
		margin: 30px 0 50px;
	}
  &__list {
		display: grid;
		gap: 40px;
		grid-template-areas: "A B C D"
													"E E F G"
													"E E H I"
													"J K L L"
													"M N L L";		
	}	
  &__item {
		position: relative;
	}
	&__item:nth-child(1) {
		grid-area: A;
	}
	&__item:nth-child(2) {
		grid-area: B;
	}
	&__item:nth-child(3) {
		grid-area:C;
	}
	&__item:nth-child(4) {
		grid-area:D;
	}
	&__item:nth-child(5) {
		grid-area:E;
		img {
			width: 100%;			
		}
		.collections__link {
			bottom: 130px;
		}
	}
	&__item:nth-child(6) {
		grid-area:F;
	}
	&__item:nth-child(7) {
		grid-area:G;
	}
	&__item:nth-child(8) {
		grid-area:H;
	}
	&__item:nth-child(9) {
		grid-area:I;
	}
	&__item:nth-child(10) {
		grid-area:J;
		margin-top: -130px;
	}
	&__item:nth-child(11) {
		grid-area:K;
		margin-top: -130px;
	}
	&__item:nth-child(12) {
		grid-area:L;
		img {
			width: 100%;			
		}
		.collections__link {
			bottom: 0;
		}
	}
	&__item:nth-child(13) {
		grid-area:M;
	}
	&__item:nth-child(14) {
		grid-area:N;
	}
  &__link {
			display: inline-block;
			text-align: center;
			color: vars.$white;
			@extend %lora-regular;
			text-transform: uppercase;
			background-color: vars.$accent-color;
			padding: 12px;
			width: 100%;
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0px;
	}
  &__btn-like {
		position: absolute;
		top: 10px;
		right: 6px;
	}
}

.pagination-arrow {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 42px;
	height: 42px;
}

.pagination {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 2px;
	margin-bottom: 100px;  
  &__list {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 2px;
	}
  &__item {
		width: 42px;
		height: 42px;
		border-radius: 8px;
		display: flex;
		align-items: center;
		justify-content: center;		
	}
  &__link {		
		display: inline-flex;
		align-items: center;
		justify-content: center;
		width: 42px;
		height: 42px;
		font-size: 16px;
		color: vars.$brown-color;
		background-color: transparent;
		&--active {
			background-color: vars.$text-color;
			color: vars.$white;
			border-radius: 8px;
		}
	} 
	&--disabled {
		display: none;
	} 
}

.product {
	margin: 30px 0 90px;
  &__inner {
		display: flex;
		gap: 40px;
		padding-right: 40px;
		margin-bottom: 150px;
	}
  &__images {
		display: grid;
		grid-template-columns: 1fr 2fr;	
		grid-template-rows: 1fr 1fr;	
		gap: 20px;
		picture:nth-child(2) {
			grid-row: span 2;
		}
		img {
			max-width: max-content;
		}
	}
  &__content {
		max-width: 400px;
	}
  &__title {
		@extend %lora-regular;
		font-size: 45px;
		color: vars.$accent-color;
		margin-bottom: 30px;
		text-transform: uppercase;
	}
  &__price {
		@extend %opensans-bold;
		font-size: 25px;
		color: vars.$brown-color;
		margin-bottom: 30px;
	}
  &__list {
		font-size: 16px;
	}
	&__content-buttons {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(2, 1fr);
		gap: 6px;
	}
  &__btn {
		padding: 9px;		
		font-size: 16px;
		background-color: transparent;
		text-align: center;
		border: 1px solid vars.$text-color;
		border-radius: 3px;
		color: vars.$text-color;
		display: flex;
		gap: 10px;
    align-items: center;
    justify-content: center;
	}  
  &__btn-add {
		padding: 12px;
		font-size: 20px;
		text-transform: uppercase;
		grid-column: span 2;
	}
}

.product-item {
  &__term {
		@extend %opensans-bold;		
		color: vars.$brown-color;
		margin-bottom: 5px;
		text-transform: uppercase;
	}
  &__definition {
		margin-left: 0;
		margin-bottom: 30px;
		color: vars.$brown-color;
	}
	&__text-definition {
		color: vars.$text-color;		
	}
	&__radio {
		display: flex;
		gap: 30px;
	}
	&__checkbox {
		display: flex;
		gap: 10px;
	}
}

.radio-label {
	position: relative;
	padding-left: 26px;	
}
.radio-box {
	position: absolute;
	width: 1px;
	height: 1px;
	overflow: hidden;
	clip:rect( 0 0 0 0);
	&:checked + .radio-style::after{
		position: absolute;
		content: '';
		width: 10px;
		height: 10px;
		border-radius: 50%;
		top: 2px;
		left: 2px;
		background-color: vars.$brown-color;
	}
}
.radio-style {
	position: absolute;
	width: 16px;
	height: 16px;
	border-radius: 50%;
	color: vars.$brown-color;
	border: 1px solid vars.$brown-color;
	left: 0;
	top: 3px;
}
.checkbox-label {
	position: relative;
	padding-left: 20px;
	display: flex;
	gap: 10px;
}
.checkbox-box {
	position: absolute;
	width: 1px;
	height: 1px;
	overflow: hidden;
	clip:rect( 0 0 0 0);
	&:checked + .checkbox-style::after{
		position: absolute;
		content: '';
		width: 9px;
		height: 9px;
		border-radius: 1px;
		top: 2px;
		left: 2px;
		background-color: vars.$brown-color;
	}
}
.checkbox-style {
	position: absolute;
	width: 15px;
	height: 15px;	
	color: vars.$brown-color;
	border: 1px solid vars.$brown-color;
	border-radius: 1px;
	left: 0;
	top: 3px;
}

.accessories {
  &__inner {	
		position: relative;		
		&::after {
			position: absolute;
			content: '';
			background-image: url('../images/product-decor.svg');
			background-repeat: no-repeat;
			background-size: cover;
			top: -107px;
    	right: 80px;
			width: 241px;
			height: 619px;
		}			
	}
  &__title {
		max-width: 890px;
		@extend %lora-regular;
		font-size: 30px;
		color: vars.$accent-color;
		text-align: center;
		text-transform: uppercase;
		padding-bottom: 30px;
		margin: 0 auto 40px;
		border-bottom: 1px solid  vars.$bg-color;
	}
  &__slider {	 
		max-width: 950px;
		overflow: hidden;
		margin: 0 auto;
		position: relative;
		padding: 0 30px;
	}
  &__item {	
		text-align: center;
		width: 100%
	}
  &__img {
		margin-bottom: 20px;
	}
  &__item-title {
		margin-bottom: 10px;
		color: vars.$brown-color;
	}
  &__item-price {
		@extend %opensans-bold;
		color: vars.$brown-color;
	}	
	&__btn-prev {		
		top: 50%;
		transform: translateY(-50%);
	}
	&__btn-next {		
		top: 50%;
		transform: translateY(-50%);
	}
	.swiper-arrow {
		position: absolute;
		z-index: 5;
		display: inline-block;
	}
	.accessories__btn-prev.swiper-button-prev { 
		width: 10px;
		height: 18px;
		left: 5px;
	}
	.accessories__btn-next.swiper-button-next {
		width: 10px;
		height: 18px;
		right: 7px;
	}
}

.page-404 {
	margin-top: 40px;
  &__inner {		
		display: flex;
	}
  &__img-right {
		img {
			height: 100%;
		}
	}
  &__content {
		margin: 0 15px 0 35px;
	}
  &__title {
		@extend %lora-regular;
		font-size: 160px;
		color: vars.$accent-color;
		margin: 240px 0 80px;
	}
  &__link {
		display: inline-block;
		@extend %lora-regular;
		font-size: 48px;
		color: vars.$accent-color;
		max-width: 841px;
		width: 100%;
		text-transform: uppercase;
		padding-right: 110px;
		position: relative;
	}
  &__link-img {
		position: absolute;
		content: '';
		right: 0;
		top: 26px;
	}
}

.moving-line {
	display: flex;
	gap: 20px;
	opacity: 0.2;
	white-space: nowrap;	
	animation-name: moving-text;
	animation-duration: 20s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
  &__text {
		@extend %lora-regular;
		font-size: 160px;
		text-transform: uppercase;		
	}
  &__img {
		align-self: center;
	}
}
@keyframes moving-text {
	0% {
		transform: translateX(0%);
	}
	100% {
		transform: translateX(-100%);
	}
}

.blog {
	margin: 20px 0 50px;
  &__inner {
		padding: 50px 0 40px;
		border-top: 1px solid rgba(148, 137, 124, 0.4);
		border-bottom: 1px solid rgba(148, 137, 124, 0.4);	
		display: flex;
		gap: 40px;		
	} 
  &__content {
		display: flex;
		gap: 40px;
		flex-direction: column;
		max-width: 740px;
	}
  &__content-category {
		font-size: 14px;
		line-height: 1.4;
		color: vars.$accent-color;
		padding: 8px 24px;
		max-width: 136px;
		width: 100%;
		border: 1px solid vars.$text-color;		
		}  
  &__content-title {
		font-size: 48px;
		line-height: 1.2;		
	}
  &__content-text {
		font-size: 24px;
		line-height: 1.3;
		margin-bottom: 40px;
	}
  &__btn {
		display: inline-flex;
		margin-top: auto;
		padding: 32px 64px;
		align-self: self-start;
		text-transform: uppercase;
		border: 1px solid vars.$accent-color;
		font-size: 24px;
		color: vars.$accent-color;
	}	
  &__info-top {
		display: flex;
		align-items: center;
		margin: 32px 0;
	}
  &__nav-title {
		@extend %lora-regular;
		color: vars.$accent-color;
		font-size: 32px;
		line-height: 1.3;
		margin-right: auto;
	}
  &__nav-category {
		max-width: 300px;
		width: 100%;		
		margin: 0 35px 0;
		background: transparent;
		border-bottom: 1px solid vars.$stroke-color;
		position: relative;
		&::after {
		position: absolute;
		content: '';
		background-image: url('../images/dropdawn-arrow.svg');
		background-repeat: no-repeat;
		background-size: cover;
		color: vars.$accent-color;
		width: 9px;
    height: 17px;
    top: 7px;
		right: 0;
		}
	}  
  &__nav-buttons {
		display: flex;
    align-items: center;
		margin-left: 200px;
		gap: 20px;
	}  
}

.select {
	width: 100%;
	border: none;
	@extend %opensans-regular; 	
	font-size: 20px;
	color: vars.$text-color;
	appearance: none;	
	padding: 2px 31px 14px 3px;
}

.search { 
	margin: 0;
	background-color: transparent;
	color: vars.$text-color;
  border: none;
	max-width: 335px;
	width: 100%;	
	margin-right: 20px;
	border-bottom: 1px solid vars.$stroke-color;
	position: relative; 
	&__input {
		padding: 2px 31px 14px 3px;
		border: none;
		width: 100%;
	}
  &__btn {			
		position: absolute;			
		color: vars.$accent-color;		
    top: 6px;
		right: 0;	
	}
}

.blog-list {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 50px 20px;
  &__item {
		color: vars.$accent-color;
	}
  &__item-link {
		picture {
			margin-bottom: 20px;
		}
	}
  &__category {
		font-size: 14px;
		padding: 8px 24px;
		border: 1px solid vars.$text-color;		
		display: inline-block;
		margin-bottom: 16px;
	}  
  &__title {
		font-size: 24px;
		@extend %lora-medium;
		line-height: 1.3;
		margin-bottom: 8px;
	}
  &__date {
		font-size: 16px;
		@extend %inter-regular;
		color: #161815;	
		opacity: 0.4;	
	}
}
.blog +.pagination {
	margin-bottom: 50px;
}

.article {
	color: vars.$accent-color;
	h1 {
		font-size: 96px;
		@extend %lora-regular;
		line-height: 1.2;
		text-transform: uppercase;
		margin-bottom: 22px;
	}
  &__stats {
		display: flex;
		align-items: center;
		gap: 40px;		
		margin-bottom: 40px;		
	}	
  &__category {
		@extend %inter-regular;
		font-size: 14px;
		padding: 8px 24px;
		border: 1px solid vars.$stroke-color;		
		display: inline-block;
		width: 107px;
	}
  &__date {
		@extend %inter-regular;
		font-size: 18px;
		line-height: 1.6;
		color: vars.$stroke-color;		
		position: relative;
		&::after {
			position: absolute;
			content: '|';
			width: 1px;
			height: 29px;
			top: 0;
			right: -20px;
			color: vars.$stroke-color;
		}
	}
  &__stats-list {
		display: flex;
		align-items: center;
		gap: 16px;
		color: vars.$stroke-color;
	}
  &__stats-item {
		color: vars.$stroke-color;
		display: flex;
		gap: 4px;
		align-items: center;		
	}
	picture:first-of-type {
		width: 100%;
		padding: 40px 0;
		border-top: 1px solid rgba(22, 24, 21, 0.15);
		border-bottom: 1px solid rgba(22, 24, 21, 0.15);
	}
  picture {
		margin-bottom: 50px;
	}
	b {
		font-size: 32px;
		@extend %lora-regular;
		line-height: 1.3;
		margin-bottom: 50px;
		display: inline-block;
		max-width: 1220px;
		width: 100%;
	}
	h2 {
		font-size: 40px;
		@extend %lora-medium;
		line-height: 1.3;
		margin-bottom: 40px;
	}
	h3 {
		font-size: 32px;
		@extend %lora-regular;
		line-height: 1.3;
		margin-bottom: 20px;
	}
	li {
		list-style: disc;
	}	
	p {
		margin-bottom: 40px;
		max-width: 1220px;		
	}
	p {		
		& + ul {
			max-width: 716px;	
			margin-bottom: 20px;
			width: 100%;
			margin-left: 40px;
		}
	}
	p:nth-of-type(3) {
		max-width: 716px;
		width: 100%;
		margin-bottom: 20px;
	}
	p:nth-of-type(5) {
		max-width: 716px;
		width: 100%;
		margin-bottom: 50px;
	}	
	p.article__category {
		margin-bottom: 0;
	}
	p + p.article__date {
		margin-bottom: 0;
	}	
	ul { 
		margin-left: 30px;
		margin-bottom: 40px;
	}
	li:has(ul) {
		ul {
			margin-bottom: 0;
		}
	}
}

.reviews {
  &__top {
		display: flex;
		align-items: center;
		justify-content: space-between;		
		margin: 60px auto 60px;
	}
  &__top-title {
		font-size: 64px;
		line-height: 1.2;
	}
  &__top-link {
		max-width: 187px;
		margin-left: 20px;
		font-size: 24px;
		color: rgba(22, 24, 21, 0.4);		
		border-bottom: 1px solid vars.$accent-color;
	}
  &__slider {
		margin-bottom: 24px;
		position: relative;
		
	}  
	&__rating {
		margin-bottom: 25px;
	}
  &__link {
		text-transform: uppercase;
		font-size: 16px;
		color: vars.$accent-color;
		padding: 24px 40px;
		display: inline-block;
		border: 1px solid vars.$accent-color;
	}
  &__content {
		margin: 60px 0;
		display: flex;
		flex-direction: column;
		gap: 20px;
	}
  &__content-item {
		padding: 40px 50px;
		border: 1px solid rgba(22, 24, 21, 0.15);
	}
  &__content-date {
		font-size: 14px;
		color: vars.$accent-color;
		opacity: 0.4;
		margin-bottom: 16px;
	}
  &__content-userbox {
		margin: 18px 0 24px;
		display: flex;
		gap: 12px;
	}
  &__content-avatar {		
		background-color: rgba(22, 24, 21, 0.06);
		border-radius: 50%;
		display: flex;
		align-items: center;
		justify-content: center;

	}
  &__content-name {
		align-self: center;
		font-size: 24px;
		color: vars.$accent-color;		
	}
  &__content-text {
		max-width: 1200px;
		color: vars.$accent-color;
		opacity: 0.8;		
	}
	&__content-images{
		display: flex;
		align-items: center;
		gap: 10px;
		margin-top: 24px;
	}
	.swiper-pagination-fraction {
	display: flex;
	gap: 16px;
  }

  .swiper-pagination-current {
	@extend %inter-regular;
	font-size: 18px;
	color: vars.$accent-color;	
  }

	.pagination {
		margin-bottom: 60px;
	}
}
.reviews {
  &__slider-navigation {
		position: absolute;
		max-width: 1520;
		margin: 0 auto;		
		right: 12%;
		bottom: -48px;
	}
  &__btn-prev {
		position: absolute;
		width: 24px;
		height: 15px;
		right: 94px;
    bottom: 6px;
		cursor: pointer;
	}
  &__btn-next {
		position: absolute;
		width: 24px;
		height: 15px;
		bottom: 6px;
    right: -40px;
		cursor: pointer;
	}  
}


.rating {
	display: flex;
	align-items: center;
	gap: 10px;
  &__number {
		color: vars.$accent-color;
	}
  &__list {
		display: flex;
		align-items: center;
	}  
  &__link {
		margin-left: 10px;			
		font-size: 16px;
		color: rgba(22, 24, 21, 0.4);		
		border-bottom: 1px solid vars.$accent-color;
	}
}

.catalog {
  &__top {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 80px;
	}
  &__top-mode {
		display: flex;		
		align-items: center;
		gap: 10px;
	}  
  &__top-form {
		margin: 0;
	}  
  &__content-wrapper {
		display: flex;
		gap: 40px;
		margin-bottom: 50px;
	}
  &__content-filter {
		align-self: flex-start;
	}
  &__content-images {		
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 50px 40px;
		&.view-mode__container--line {
			display: block;
			.catalog__content-item {
				margin-bottom: 25px;
				display: flex;
				align-items: center;
				justify-content: center;
				gap: 25px;
			}
			.catalog__content-title {
				margin: 0;
			}
		}
	}		
	&__content-item {
		text-align: center;
		color: vars.$brown-color;
	}
	&__content-title {
		margin: 20px 0 10px;		
	}
	&__content-price {
		@extend %opensans-bold;
		position: relative;
		padding-left: 10px;
		display: inline-block;
		margin: 0 25px;
		&::after {
			position: absolute;
			content: '€';
			top: 0;
			left: -7px;
			font-size: 20px;
			@extend %opensans-bold;			
		}
	}
	.pagination {
		margin-right: 243px;
		margin-left: auto;
		justify-content: end;
	}
}
.mode {
  &__text {
		margin-right: 20px;
		font-size: 11px;
		color: vars.$text-color;
	}
  &__btn-grid {}
  &__btn-line {}
}
            
.sort-form {
	max-width: 175px;
	width: 100%;
	font-size: 11px;	
	border: 1px solid vars.$text-color;
	border-radius: 3px;
	position: relative;
	&::after {
			position: absolute;
			content: '';
			background-image: url('../images/sort-dropdawn.svg');
			background-repeat: no-repeat;
			background-size: cover;
			color: vars.$text-color;			
			top: 10px;
			right: 9px;
			width: 12px;
			height: 6px;			
	}
  &__select {	
		width: 100%;
		appearance: none;		
		color: vars.$text-color;
		padding: 5px 51px 5px 9px;
		font-size: 11px;		
	}
}
.catalog-filter {
	max-width: 270px;
	width: 100%;
	padding: 20px 25px;
	border: 1px solid vars.$bg-color;
  &__form {} 
  &__item {
		padding-bottom: 20px;
		border-bottom: 1px solid vars.$bg-color;
	}
	&__item-title {
		font-size: 20px;
		@extend %lora-regular;
		text-transform: uppercase;
		margin-bottom: 11px;
		color: vars.$brown-color;
		padding-left: 20px;
		position: relative;
		&::after {
			position: absolute;
			content: '';
			background-image: url('../images/square-icon.svg');
			background-repeat: no-repeat;
			background-size: cover;
			top: 7px;
			left: 0;
			width: 10px;
			height: 10px;
		}
	}
	&__box {
		display: flex;
		flex-direction: column;
		gap: 40px;
		color: vars.$brown-color;
		font-size: 11px;
	}
	&__btn {
		font-size: 12px;
		color: vars.$brown-color;
		text-transform: lowercase;
		text-decoration: underline;
		align-self: flex-start;
	}
	.checkbox-label {
	margin-bottom: 10px;
	padding-left: 23px;
	cursor: pointer;
	}
	.checkbox-box {
	text-transform: uppercase;
	font-size: 11px;
	}
	.checkbox-style {
	top: 0px;
	}
	.radio-label {
	margin-bottom: 10px;
	cursor: pointer;
  }	
	.radio-style {
		top: 0px;
	}
}

.item-price {
  &__title {}
  &__range {}
}
.range {
  &__input-box {
		margin-bottom: 25px;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
  &__label {}
  &__input {
		padding: 9px 6px;
		width: 90px;
		color: vars.$text-color;
		font-size: 11px;
		text-align: center;
		border: 1px solid vars.$text-color;
	}
  &__list {
		display: flex;
		align-items: center;
		gap: 15px;
		margin-top: 17px;
	}
  &__number {
		font-size: 11px;
		color: vars.$brown-color;
		position: relative;
		&::after {
			position: absolute;
			content: '';
			width: 1px;
			height: 6px;
			background-color: vars.$brown-color;
			left: 50%;
			top: -15px;
		}
	}
	&__slider {
		margin:0 auto 25px;
	}
}
.range__slider.noUi-horizontal {
	height: 1px;	
	width: 100%;
	color: vars.$text-color;
	margin: 0 auto;
}

.noUi-handle {		
	border-radius: 50%;
	border: 1px solid vars.$text-color;
	background-color: vars.$white;
	cursor: pointer;
	box-shadow: none;
}

.noUi-horizontal .noUi-handle {
	width: 20px;
	height: 20px;	
	top: -9px;
}
.noUi-handle.noUi-handle-lower {

}
.noUi-handle.noUi-handle-Upper {
	right: -12px;
}

.noUi-handle::after,
.noUi-handle::before {
	display: none;
}
.item-size, .item-material{  
  &__list {
		column-count: 2;
		column-gap: 40px;
	}
}

.item-color {  
  &__list {
		display: flex;		
		gap: 45px;
	}
 }

.view-mode {
  &__container {}
  &__container--grid {}
}









