 <footer class="footer">
  <div class="footer-inner">
    <div class="container">
      <div class="footer__top">
        <nav class="footer__nav">
          <ul class="footer__nav-list">
            <li class="footer__nav-item">
              <a class="footer__nav-link"target="_blank" rel="noopener noreferrer" 
              href="#">Catalog</a>
            </li>
            <li class="footer__nav-item">
              <a class="footer__nav-link"target="_blank" rel="noopener noreferrer" 
              href="#">Collections</a>
            </li>
            <li class="footer__nav-item">
              <a class="footer__nav-link"target="_blank" rel="noopener noreferrer" 
              href="#">About</a>
            </li>
            <li class="footer__nav-item">
              <a class="footer__logo" class="logo" href="#">
                <img src="../images/logo.svg" alt="bridal haven logo">
              </a>
            </li>
            <li class="footer__nav-item">
              <a class="footer__nav-link"target="_blank" rel="noopener noreferrer" 
              href="#">Book your appointment</a>
            </li>
            <li class="footer__nav-item">
              <a class="footer__nav-link"target="_blank" rel="noopener noreferrer" 
              href="#">Contact</a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="footer__bottom" class="footer-bottom">
        <div class="footer__bottom-phone" class="footer__bottom-element">
          <p class="footer__bottom-title">Phones</p>
          <ul class="footer__bottom-list">
            <li class="footer__bottom-item">
              <a class="footer__bottom-link" href="tel:+380978367320">
                +380 (97) 836 73 20</a>
            </li>
            <li class="footer__bottom-item">
              <a class="footer__bottom-link" href="tel:+380999846862">
                +380 (99) 984 68 62</a>
            </li>
          </ul>
        </div>
        <div class="footer__bottom-email" class="footer__bottom-element">
          <p class="footer__bottom-title">Emails</p>
          <ul class="footer__bottom-list">
            <li class="footer__bottom-item">
              <a class="footer__bottom-link" 
              href="mailto:office@luxuriousbridalhaven.com">office@luxuriousbridalhaven.com</a>
            </li>
            <li class="footer__bottom-item">
              <a class="footer__bottom-link" 
              href="mailto:sales@luxuriousbridalhaven.com">sales@luxuriousbridalhaven.com</a>
            </li>
          </ul>
        </div>
        <div class="footer__bottom-address" class="footer__bottom-element">
          <p class="footer__bottom-title">Location</p>
          <address class="footer__bottom-address">
            Ukraine, Kyiv,<br>
            st. Arsenalna, 5
          </address>
        </div>
        <div class="footer__bottom-social" class="footer__bottom-element">
          <p class="footer__bottom-title">Social</p>
          <ul class="footer__bottom-list">
            <div class="footer__bottom-box">
              <li class="footer__bottom-item">
                <a class="footer__bottom-link" href="#" 
                target="_blank" rel="noopener noreferrer">
                <svg width="25" height="25">
                    <use xlink:href="images/sprite.svg#facebook">
                    </use>
                </svg> 
                </a>
              </li>
              <li class="footer__bottom-item">
                <a class="footer__bottom-link" href="#" 
                target="_blank" rel="noopener noreferrer">
                <svg width="25" height="25">
                    <use xlink:href="images/sprite.svg#instagram">
                    </use>
                </svg>
                </a>
              </li>
            </div>
          </ul>
        </div>
        <div class="footer__bottom-subscription" class="footer__bottom-element">
          <p class="footer__bottom-title">Sign-up for our newsletter</p>
          <form class="footer__bottom-form" action="sign up">
            <input class="footer__bottom-input" type="text" placeholder="Enter your email">
            <button class="footer__bottom-btn" type="submit">
              <svg width="16" height="12">
                <use xlink:href="images/sprite.svg#envelop">
                </use>
              </svg> 
            </button>
          </form>
        </div>
      </div>    
    </div>
  </div>
  <div class="footer__policy">
    <div class="container">
      <div class="footer__policy-box">
        <p class="footer__policy-text">© Luxurious Bridal Haven. All rights reserved.</p>
        <ul class="footer__policy-list">
          <li class="footer__policy-item">
            <a class="footer__policy-link" href="#" 
            target="_blank" rel="noopener noreferrer">Privacy Policy</a>            
          </li>
          <li class="footer__policy-item">
            <a class="footer__policy-link" href="#" 
            target="_blank" rel="noopener noreferrer">Refund policy</a>             
          </li>
          <li class="footer__policy-item">
            <a class="footer__policy-link" href="#" 
            target="_blank" rel="noopener noreferrer">Terms of Service</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
 </footer>
 </div>
 <script src="js/main.min.js"></script>
  </body>
</html>