<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/style.min.css">
    <title>Luxurious Bridal Haven</title>
  </head>
  <body>
    <div class="wrapper">      
        <header class="header">
          <div class="container">
            <div class="header__inner">            
                <div class="header__logo logo">
                  <a class="header__logo-link" href="#">
                    <img src="../images/logo.svg" alt="bridal haven logo">
                  </a>
                </div>
                <button class="header__menu-btn" type="button">
                  <svg width="30" height="18">
                        <use xlink:href="images/sprite.svg#menu-btn">
                        </use>
                      </svg>
                </button>
                <ul class="header__language-list">
                  <li class="header__language-item">
                    <a class="header__language-link"  href="#" 
                     target="_blank" rel="noopener noreferrer"><span>EN</span></a>/
                  </li>
                  <li class="header__language-item">
                    <a class="header__language-link" href="#" 
                     target="_blank" rel="noopener noreferrer">UA</a>
                  </li>
                </ul>            
                <nav class="header__nav">
                  <ul class="header__nav-list">
                    <li class="header__nav-item">
                      <a class="header__nav-link" href="#" 
                      target="_blank" rel="noopener noreferrer">CATALOG</a>
                    </li>
                    <li class="header__nav-item">
                      <a class="header__nav-link" href="#" 
                      target="_blank" rel="noopener noreferrer">COLLECTIONS</a>
                    </li>
                    <li class="header__nav-item">
                      <a class="header__nav-link" href="#" 
                      target="_blank" rel="noopener noreferrer">ABOUT</a>
                    </li>
                    <li class="header__nav-item">
                      <a class="header__nav-link" href="#" 
                      target="_blank" rel="noopener noreferrer">BOOK AN APPOINTMENT</a>
                    </li>
                    <li class="header__nav-item">
                      <a class="header__nav-link" href="#">CONTACT</a>
                    </li>
                  </ul>
                </nav>
                <ul class="header__actions-list">
                  <li class="header__actions-user">
                    <a class="header__actions-link" href="#" 
                      target="_blank" rel="noopener noreferrer">
                      <svg width="24" height="24">
                        <use xlink:href="images/sprite.svg#user">
                        </use>
                      </svg>                 
                    </a>
                  </li>
                  <li class="header__actions-wishlist">
                    <a class="header__actions-link" href="#" 
                      target="_blank" rel="noopener noreferrer">
                      <svg width="24" height="21">
                        <use xlink:href="images/sprite.svg#wishlist">
                        </use>
                      </svg> 
                    </a>
                  </li>
                  <li class="header__actions-basket">
                    <a class="header__actions-link" href="#">
                      <svg width="24" height="24">
                        <use xlink:href="images/sprite.svg#shopping-bag">
                        </use>
                      </svg>
                    </a>
                  </li>
                </ul>
            </div>
          </div>
        </header>

      
    
  
