<div class="pagination">
  <a class="pagination__prev-btn pagination-arrow pagination--disabled"
      target="_blank" rel="noopener noreferrer" href="#">
      <svg width="17" height="17">
        <use xlink:href="images/sprite.svg#pagination-prev">
        </use>
      </svg> 
  </a>
  <ul class="pagination__list">
    <li class="pagination__item">
      <a class="pagination__link pagination__link--active" 
      target="_blank" rel="noopener noreferrer" href="#">1
    </a>
    </li>
    <li class="pagination__item">
      <a class="pagination__link" 
      target="_blank" rel="noopener noreferrer" href="#">2
    </a>
    </li>
    <li class="pagination__item">
      <a class="pagination__link" 
      target="_blank" rel="noopener noreferrer" href="#">3
    </a>
    </li>
    <li class="pagination__item">
      <a class="pagination__link" 
      target="_blank" rel="noopener noreferrer" href="#">4
    </a>
    </li>
    <li class="pagination__item">
      <span class="pagination__link">...</span>
    </li>
    <li class="pagination__item">
      <a class="pagination__link" 
      target="_blank" rel="noopener noreferrer" href="#">19</a>
    </li>
    <li class="pagination__item">
      <a class="pagination__link" 
      target="_blank" rel="noopener noreferrer" href="#">20
    </a>
    </li>
    <li class="pagination__item">
      <a class="pagination__link" 
      target="_blank" rel="noopener noreferrer" href="#">21
    </a>
    </li>
  </ul>
  <a class="pagination__next-btn pagination-arrow" 
  target="_blank" rel="noopener noreferrer" href="#">
    <svg width="17" height="17">
      <use xlink:href="images/sprite.svg#pagination-next">
      </use>
    </svg> 
  </a>
</div>